// =============================================================================
// Niri Window Rules Configuration
// =============================================================================
// Description : Layout management and behavioral rules for Niri, including
//               floating window definitions and security exclusions.
// =============================================================================

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    // default-column-width { proportion 0.5; }
}

// Firefox Picture-in-Picture
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="kitty" title=r#"^impala$"#
    match app-id="kitty" title=r#"^bluetui$"#
    match app-id="kitty" title=r#"^ncpamixer$"#
    match app-id="kitty" title=r#"^Yazi:"#
    open-floating true
    default-window-height { proportion 0.6; }
    default-column-width { proportion 0.8; }
}

window-rule {
    match app-id="zenith-installer"
    match app-id="zenith-uninstaller"
    match app-id="zenith-network"
    match app-id="zenith-docker"
    match app-id="zenith-vm"
    open-floating true
    default-window-height { proportion 0.6; }
    default-column-width { proportion 0.8; }
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

// =============================================================================
// Recomended Rules
// =============================================================================

// /-window-rule {
//     match app-id=r#"^org\.keepassxc\.KeePassXC$"#
//     match app-id=r#"^org\.gnome\.World\.Secrets$"#
//     block-out-from "screen-capture"
// }
